@import "../Firstsection/firstsection.scss";

div.card{
    height: 370px;
    width:600px;
    background: #000;
    color:var(--text-color);
    border-radius: 10px;
    padding:40px 25px;
    margin:0 100px;
    position: absolute;
    top:0;
    left:0;
    line-height: 23px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    p{
        font-size: 18px;
        letter-spacing: 1px;
        text-align: justify;
    }

    .profile{
        margin: 40px 0 0 0;
        @include flex(flex-start,center);

        .pic{
            height: 40px;
            width:40px;
            border-radius: 50%;
            overflow: hidden;
            @include flex(center,center);
            
            img{
                width: 100%;
            }
        }
        .introduce{
            margin:0 15px;

            h3{
                color: #f55139;
                font-size: 20px;
                margin: 5px 0;
            }
            p{
                margin:5px 0;
            }
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 10px;
        background-image: url("./right-quotes-symbol.png ");
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: .2;

    }

}

