@import "./../Navbar/navbar.scss";

div.footer {
    width: 100%;
    position: relative;
    background-color: #000;
    color: #fff;



    .avatar {
        position: absolute;
        right:12%;
        top: -276px;
    }

    .flex-footer {
        width: 100%;
        @include flex(flex-start, flex-start);
        position: relative;
        flex-wrap: wrap;
        color: #fff;
        padding: 20px;

        div {
            width: 30%;
            margin: 0 20px;

            h2 {
                margin: 20px 0 35px 0;
            }

            a {
                display: block;
                text-decoration: none;
                color: #fff;
                margin: 20px 0 0 0;
            }
        }

        .about-us {
            text-align: justify;

            .social {
                display: inline;
                width:8%;

                img {
                    margin: 20px 25px 0 0;
                }

                .youtube {
                    width: 9%;
                }

                // .twitter {
                //     width: 10%;
                // }

                // .linkedin {
                //     width: 12%;
                // }
            }
        }

        .overview {
            width: fit-content;
        }

        .contact {
            width: fit-content;

            a {
                .fa-solid {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media (max-width:985px){
    .avatar {
        position: absolute;
        right: 12%;
        top: -210px;
        width: 15%;
}
}